html {
    font-size: 16px;
}

body {
    margin: 1rem;
}

h1 {
    text-align: center;
}

#containerOne {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /*grid-template-rows: 2fr;*/
}

.hide-checked {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    /*display: none*/
}

input[type="checkbox"]:checked ~ .hide-checked {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    /*display: block;*/
}

#where {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    /*display: none*/
}

input[type="checkbox"]:checked ~ #where {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    /*display: block;*/
}

.error {
    width  : 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
  }

  .error.active {
    padding: 0.3em;
  }

input:invalid {
    border-color: #900;
        background-color: #FDD; 
}

textarea:invalid {
    border-color: #900;
        background-color: #FDD; 
}

button#copierDeux {
    display: none;
    margin: 1rem;
}

button.tooltip {
    display: inline; 
    position:relative
}
button.tooltip:hover 
{
    text-decoration:none
}


button.tooltip:active::after {
    background: #111;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 18px;
    color: #fff;
    content: attr(title);
    display: block;
    left: 50%;
    padding: 5px 15px;
    position: absolute;
    white-space: nowrap;
    z-index: 98;
    transition-duration: 5s;
    transition-delay: 2s;
    
   }
   
   button.tooltip:active::before {
     border:solid;
     border-color:#111 transparent;
     border-width:6px 6px 0 6px;
     bottom:12px;
     content:"";
     display:block;
     left:75%;
     position:absolute;
     z-index:99;
     transition-duration: 5s;
     transition-delay: 2s;
    }



button#copierDeux {
    margin: 0 auto;
}

/* Using the points for units for the font size here because copy/pasting to Google Sheets seems to go better if you use the same font size that's being used in the document you are pasting to */

pre.previous {
    display: inline-block;
    font-size: 11pt;
}

/* Similar deal to the one as above, but in this case it's an e-mail.*/

p.transcribble {
    font-size: 11pt;
}

/*form {
    display: flex;
}*/

.inputs {
    margin: 0.5rem;
}

#where {
    margin-top: 0.3rem;
}

div.transcribed button.tooltip {
    margin: 0.5rem;
}

