html {
    font-size: 16px;
}

body {
    margin: 1rem;
}

h1 {
    text-align: center;
}


#containerOne {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /*grid-template-rows: 2fr;*/
    margin: 1rem;
}

.hide-checked {
    opacity: 1;
    /*max-height: 100px;*/
    overflow: visible;
    /*display: none*/
}

textarea {
    max-width: 522px;
    width: 522px;
    height: 200px;
    margin: 0.5rem 0 0.5rem 0;
}

input[type="checkbox"]:checked ~ .hide-checked {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    /*display: block;*/
}

#callBackFrom {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    /*display: none*/
}

input[type="checkbox"]:checked ~ #callBackFrom {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    /*display: block;*/
    padding: 1rem 0.75rem 2rem 0;
}

input.temp:valid, textarea.temp:valid {
    font-size: 1rem;
    border: black solid 1px;
    box-shadow: black 9px 10px 0 -3px;
    padding: 0.25rem;
}

button.buttonStyle {
    font-size: 1rem;
    background: white;
    color: black; 
    border: black solid 0.5px;
    box-shadow: black 9.5px 11.5px 0 -3px;
    padding: 0.5rem ;
    margin: 1rem;
}

button.buttonStyle:active {
    box-shadow: black 4px 7.5px 0 0px;   
}

#submitItems {
    padding: 0.5rem 1.2rem;
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    display: block;
}

.error.active {
padding: 0.3em 0.95rem;

}

input.temp:invalid, textarea.temp:invalid {
    border-color: #900;
    background-color: #FDD;
    box-shadow: #900 9.5px 11.5px 0 -3px; 
}


/*textarea.temp:invalid {
    border-color: #900;
    background-color: #FDD;
    box-shadow: #900 9.5px 11.5px 0 -3px; 
}*/

button#copierForEmail {
    display: none;
    /*margin: 1rem;*/
    padding: 0.5rem 2.05rem;
    margin: 1rem auto;
}

button.tooltip {
    display: inline; 
    position:relative
}
button.tooltip:hover {
    text-decoration:none
}


button.tooltip:active::after {
    background: #111;
    background: rgba(0,0,0,.8);
    /*border-radius: 5px;*/
    bottom: 18px;
    color: #fff;
    content: attr(title);
    display: block;
    left: 50%;
    padding: 5px 15px;
    position: absolute;
    white-space: nowrap;
    z-index: 98;
    transition-duration: 5s;
    transition-delay: 2s;
}
   
button.tooltip:active::before {
    border: solid;
    border-color: #111 transparent;
    border-width:6px 6px 0 6px;
    bottom: 12px;
    content: "";
    display: block;
    left: 75%;
    position: absolute;
    z-index: 99;
    transition-duration: 5s;
    transition-delay: 2s;
}

/* Using the points for units for the font size here because copy/pasting to Google Sheets seems to go better if you use the same font size that's being used in the document you are pasting to */

pre.preStyles {
    display: inline-block;
    /*font-size: 11pt;*/
    white-space: pre-wrap;
    background: rgba(24, 24, 24, 0.603);
    color: white;
    /*border: black solid 1px;
    box-shadow: black 9px 10px 0 -3px;*/
    padding: 0.25rem 0.33rem;
}

/* Similar deal to the one as above, but in this case it's an e-mail.*/

/*.transcribeForEmailBox {
    display: none;
    font-size: 11pt;
    background: rgb(235, 233, 233);
    border: black solid 1px;
    box-shadow: black 9px 10px 0 -3px;
    padding: 0.7rem 0.9rem;
    margin-bottom: 2rem;
}*/

/*form {
    display: flex;
}*/

.inputs {
    margin: 0.75rem;
    font-size: 1rem;
    border: black solid 1px;
    box-shadow: black 9px 10px 0 -3px;
    padding: 1rem;
}

.inputs.errorDiv {
    border-color: #900;
    
    box-shadow: #900 9.5px 11.5px 0 -3px;
}

#callBackFrom {
    margin-top: 0.3rem;
}

div.transcriberOne button.tooltip {
    margin: 0.5rem;
}

.transcriberTwo {
    margin: 1rem;
}

p.instruct {
    color: rgb(78, 78, 78)
}

#callBackError {
    margin: 1rem 0;
   /*padding: 1rem;*/
}

/*#callback.inputs {
    padding: 1rem 0.75rem 2rem 0.75rem;
}*/

label[for=hangup] {
    margin: 0.5rem 0 0.5rem 0;
}

label[for=callFrom] {
    margin: 0 0 0 0.5rem;
}

input#hangup.buttonStyle {
    margin: 0 0.5rem;
}

#transcriberOne {
    margin: 0 0 0 0.5rem;
    
}

/*#transcribeForEmailBox {
    background: rgba(59, 59, 59, 0.842);
    color: white;
    padding: 0.25rem 0.33rem;
}*/
